html, body, :global(#app){
	height: 100%;
	overflow: hidden;
	background: url("assets/textures/grass.png") center / 25% repeat, #eee;
}

canvas {
	height: 600%;
	// height: 100%;
	position: absolute;
	top:  0;
	left: 0;
	z-index: 0;
}
